beautifulsoup4
clickhouse-connect
dataclasses-json
faiss-cpu
fsspec
lark
langchain
layoutparser[layoutmodels,tesseract]
llama-index
nest-asyncio
numpy
openai
pandas
pdfReader
pymysql
python-dotenv
requests
sqlalchemy
tenacity
tiktoken
typing-extensions
typing-inspect
unstructured
urllib3
#brew libxml2
#brew libxslt
#brew poppler-qt5
#brew tesseract-ocr
#brew libreoffice 
#brew pandocs
#brew libmagic-dev
