openai
requests
pandas
langchain
python-dotenv
faiss-cpu
poppler-utils
layoutparser[layoutmodels,tesseract]
unstructured
pymysql
pdfReader
langchain
clickhouse-connect
tiktoken
python-dotenv
lark
#brew libxml2
#brew libxslt
#brew poppler-qt5
#brew tesseract-ocr
#brew libreoffice 
#brew pandocs
#brew libmagic-dev
